/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

/* Header Styles */
header {
    text-align: center;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ec8f8f;
}

/* Main Content Styles */
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

section {
    background-color: #eca8a8;
    padding: 20px;
    border-radius: 5px;
}

section img {
    width: 100%;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 50px;
}

.play-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #98bfea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header, nav, main, footer {
        margin: 10px;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }

    main {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .play-button {
        width: 100%;
        font-size: 18px;
    }
}